/***********************************8
 * Custom Styles
 */

@font-face { 
  font-family: ubuntu; 
  src: url('/inc/font/Ubuntu-R.woff'); 
}

body {
  background-color: #666;
  color: white;
  font-size: 18px;
  min-width: 270px;
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: ubuntu, sans-serif;
  text-align: center;
}

h1 {
  font-size: 1.2em;
  margin: 0 0 0.3em;
}

a {
  color: #ff9d1c;
  text-decoration: none;
}

a:hover {
  color: #bfbfbf;
}

#wrapper {
  background-color: #666;
  border-radius: 6px;
  display: inline-block;
  padding: 1.5% 2% 1%;
}

  #container {    
    position: relative;
    display: inline-block;
  }

    #logo {
      margin: 0 10px 0 0;
      height: 2.4em;
      width: auto;
      padding: 0;
    }
    #branding {
      display: inline-block;
      vertical-align: top;
    }
    #tagline {
      font-size: 0.8em;
      margin: 0.4em 0 1em 3px;
      text-align: left;
    }
  

  .disclaimer {
    font-size: 0.8em;
  }

  video {
    margin: 2% auto 1%;
    max-height: 75%;
    max-width: 100%;
    border-radius: 6px;
  }


a#busy {
  display: block;
}

a#busy span {
  display: block;
  font-size: 0.8em;
  margin: 1em 0;
}

a#busy img {
  max-width:240px;
  width: 100%;
  text-align: center;
}

a#busy:hover img {
  opacity: 0.8em;
}


#keep-calm {
  height: 511px;
  margin: 2% auto 1%;
  border-radius: 5px;
}

#mission {
  background-color: #ff9d1c;
  border-radius: 5px;
  height: 511px;
  width: 440px;
  padding: 1em;
}

#mission div {
  font-size: 0.7em;
  margin: 1em 0 0;
  text-align: justify;
  line-height: 1.3em;
}

#mission p {
  margin: 2em 0 0;
}

#mission a {
  color: #666;
}

#mission a:hover {
  color: #fff;
}

@media screen and (max-width: 900px) {
  body {
    font-size: 17px;
  }
}
@media screen and (max-width: 800px) {
  body {
    font-size: 16px;
  }
}

@media screen and (max-width: 700px) {
  body {
    font-size: 15px;
    line-height: 15px;
  }
  #logo {
    height: 2.5em;
  }
}

@media screen and (max-width: 600px) {
 body {
    font-size: 14px;
    line-height: 14px;
  }
}

@media screen and (max-width: 380px) {
  body {
    font-size: 15px;
    line-height: 12px;
  }

  h1 {
    margin: 0.8em 0;
  }
  .disclaimer div {
    width: 200px;
    margin: 0 auto;
  }
}


